# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\vue\202104\sdudoc-new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
